

$primary: #617b35;
$secondary: #f7fafc;



@import "../bootstrap/bootstrap";
.site-container {
    @extend .container-fluid !optional; 
    padding: 0 25px;
    background-color: #f7fafc;

    @media (max-width: 992px) {
        padding: 0 5px; 
      }
}


.btn-primary {
  border-radius: 50px;
}
