@import "../bootstrap/bootstrap";
.site-container {
    @extend .container-fluid; 
    padding: 0 25px;
    background-color: #f7fafc;

    @media (max-width: 992px) {
        padding: 0 5px; 
      }
}
